section {
    margin: 1px;
}

body{
    height: 100vh;
}

#container {
    width: 100%;
    height: 100%;
    padding: 10px;
    /* animation: init 3s 1; */
}

.grid {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto 80px;
}

.layout_01 {
    grid-template-areas: 
    "list preview"
    "list options"
    "menu menu";
}
.layout_02 {
    grid-template-areas: 
    "preview options"
    "list list"
    "menu menu";
}
.layout_03 {
    grid-template-areas: 
    "preview preview"
    "list options"
    "menu menu";
    }

.panel {
    border: 1px solid;
    border-color: var(--pico-primary-border);
    border-radius: 10px;
    padding: 10px;
    background-color: #05101a;
}

.panel:hover{
    box-shadow: var(--pico-primary-background) 0px 0px 10px;
}

.list {
    grid-area: list;
    overflow-y: auto;
    scrollbar-width: thin;
}

#dragzone {
    width: 200%;
}

.preview {
    grid-area: preview;
}

.options {
    grid-area: options;
}
.menu {
    grid-area: menu;
    display: flex;
    flex-direction: row-reverse;
}
.menu > button {
    margin: 0 5px;
}

#blendfiles {padding: 0;}

#blendfiles li {
    list-style: none;
    padding: 0px 10px;
    border-radius: 20px;
    cursor: pointer;
}

#blendfiles li:hover, #blendfiles .selected  {
    background: var(--pico-secondary-focus);
}

#blendfiles input {
    width: 22px;
    height: 22px;
    margin-bottom: 3px;
}

/*======================================
            Full Screens
======================================*/

.full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Welcome Animation  */
#welcome {
    visibility: hidden;
    background-color: #05101a;
    /* animation: welcome 3s 1; */
}

#welcome>h1 {
    margin: 0;
}

#welcome>img {
    margin-right: 15px;
}

@keyframes init {
    from {
        opacity: 50%;
        filter: blur(20px);
    }

    75% {
        opacity: 50%;
        filter: blur(20px);
    }

    to {
        opacity: 100%;
        filter: blur(0px);
    }
}

@keyframes welcome {
    from {
        visibility: visible;
        opacity: 0%;
    }

    50% {
        opacity: 100%;
        visibility: visible;
    }

    75% {
        opacity: 100%;
        visibility: visible;
    }

    to {
        opacity: 0%;
        visibility: hidden;
    }
}

/* Rendering Animation */
#loader {
    visibility: hidden;
    background: #05101a;
    display: flex;
    flex-direction: column;
}

#loader > h3{
    font-weight: bold;
    font-family: monospace;
    text-shadow:
        0 0 0 rgb(255 0 0),
        0 0 0 rgb(0 255 0),
        0 0 0 rgb(0 0 255);
    font-size: 30px;
    animation: l32 1s infinite cubic-bezier(0.5, -2000, 0.5, 2000);

}

@keyframes l32 {

    25%,
    100% {
        text-shadow:
            0.03px -0.01px 0.01px rgb(255 0 0),
            0.02px 0.02px 0 rgb(0 255 0),
            -0.02px 0.02px 0 rgb(0 0 255);
    }
}